<h1><%= t "user_mailer.account_activation.title_activation" %></h1>
<p><%= t "user_mailer.account_activation.hi", name: @user.name %>,</p>
<p><%= t "user_mailer.account_activation.active_mail" %></p>
<%= link_to t("user_mailer.account_activation.link_title"),
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
